 [Desktop Entry]
Name=Aemulus Package Manager
Type=Application
StartupNotify=true
Icon=AemulusPackageManager
MimeType=x-scheme-handler/aemulus
Exec=env WINEPREFIX=/home/alexandra/.aemulus DOTNET_ROOT="C:\\\\Program Files\\\\dotnet" wine C:\\\\AemulusPackageManager\\\\AemulusPackageManager.exe %u
Path=/home/alexandra/.aemulus/drive_c/AemulusPackageManager
Categories=Game
